.create-shelf-container {
    display: flex;
    flex-direction: column;
}

.create-shelf-form {
    display: flex;
    flex-direction: column;
}

.create-shelf-content {
    display: flex;
    flex-direction: column;
}