<div class="category-header">
  <div class="category-header-title">
    <h1 class="mat-display-2">{{group == 'mine' ? 'My' : group | titlecase}} shelves</h1>
    <mat-divider class="category-divider"></mat-divider>
  </div>
  <div class="flex-spacer"></div>
  <div class="create-shelf-button" *ngIf="authService.isAuthenticated">
      <button (click)="openCreateShelf()" mat-raised-button color="primary" class="new-shelf-button">
        Create a new shelf
      </button>
  </div>
</div>
<div class="browse-content shelf-list-container">
  <div *ngIf="shelves.length === 0">
    <div [ngSwitch]="group" class="empty-shelves-message">
      <div *ngSwitchCase="'mine'">
        <!-- <mat-icon class="empty-icon">view_module</mat-icon> -->
        <div class="create-shelf-msg" *ngIf="authService.isAuthenticated">
          <h2 class="mat-headline" >You have not created any shelves</h2>
          <h3 class="mat-subheading-2" >Create a new shelf and it will show up here</h3>
        </div>    
        <div *ngIf="authService.isAuthenticated">
          <button (click)="openCreateShelf()" mat-raised-button color="accent" class="new-shelf-button">
            Create a new shelf
          </button>
        </div>
        <div class="create-shelf-msg" *ngIf="!authService.isAuthenticated">
            <h3 class="mat-headline">Login to see your Shelves</h3>
        </div>    
        <div class="no-auth-message" *ngIf="!authService.isAuthenticated">
          <a routerLink="/login"><button mat-raised-button class="router-btn"> Log In</button></a>
          <a routerLink="/signup"><button mat-raised-button class="router-btn"> Sign Up</button></a>
        </div>
      </div>
      <h3 *ngSwitchCase="'featured'">There are no featured shelves</h3>
      <h3 *ngSwitchDefault>There are no shelves yet</h3>
    </div>
  </div>
  
  <div *ngIf="shelves">
    <mat-grid-list cols="5" gutterSize="16px">
        <mat-grid-tile *ngFor="let shelf of shelves" class="browse-grid-list tile-background">
          <a routerLink="/library/shelf/{{shelf.id}}">
            <img class="artist-image"
            width="100%"
            alt="{{shelf.title}}"
            [src]="getArt(shelf.releases)"
            onerror="this.style.display='none'">
            <mat-grid-tile-footer class="tile-footer">
              <h4 mat-line>{{shelf.name}}</h4>
              <h4 mat-line>{{shelf.description}}</h4>
            </mat-grid-tile-footer>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
</div>