.open {
  /*TODO styling for 'open' shelf in list*/
}

.shelves-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.shelf-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.shelf-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

mat-card-title {
  font-size: 1em;
}

mat-sidenav {
  padding: 20px;
  width: 400px;
}

mat-sidenav-content {
  padding: 20px;
  height: 100%;
}