<mat-toolbar role="header" color="primary" class="shelf-header">
  <span>KEXP Shelves</span>
</mat-toolbar>
<mat-sidenav-container class="shelves-container">
  <mat-sidenav #sidenav mode="side" opened="false" class="shelves-sidenav" fixedInViewport="false">
    <mat-tab-group>
      <mat-tab label="My Shelves">
        <mat-card class="shelf-card" *ngFor="let shelf of myShelves">
          <mat-card-title>{{shelf.name}}</mat-card-title>
          <mat-card-subtitle>{{shelf.ownerName}}</mat-card-subtitle>
          <mat-card-actions align="end">
            <button mat-button (click)="onShelfOpen(shelf)">OPEN</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label="Other shelves">
        <mat-card class="shelf-card" *ngFor="let shelf of shelves">
          <mat-card-title>{{shelf.name}}</mat-card-title>
          <mat-card-subtitle>{{shelf.ownerName}}</mat-card-subtitle>
          <mat-card-actions align="end">
            <button mat-button (click)="onShelfOpen(shelf)">OPEN</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()">Open shelves</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-shelf-editor [shelf]="openShelf"></app-shelf-editor>
