app-search-results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 50px 0px;
}



.search-results-container {
    padding: 0px 50px 50px 20px;
}

.no-results {
    text-align: center;
    margin: 100px 0px 0px 0px;
}


