@import '../../node_modules/@angular/material/theming';

$small-breakpoint-width: 720px;
$medium-breakpoint-width: 900px;
$large-breakpoint-width: 1024px;
$xlarge-breakpoint-width: 1440px;

// to align content with title
$content-padding-side: 70px;