body {
    margin: 0;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
  
/* links */
a {
    color: inherit;
    text-decoration: none;
}

app-browse-list, app-label, app-artist, app-search-results, app-release-detail {
    display: flex;
    flex-direction: column;
    height: 90vh; // to allow for scrolling independent of mat-sidenav-content
    overflow: auto; // scrolling
    padding: 0px 200px 24px 24px;
}

.category-header {
    flex: 1;
    display: flex;
    position: fixed;
    z-index: 5;
    right: 0;
    left: 300px;
    padding: 24px 0px 20px 28px;

    h1 {
        margin-bottom: 16px;
    }

    .category-divider {
        width: 100%;
    }
}

// keep the sidenav content from scrolling
// (temporary hack to allow virtual-scroll to work correctly)
mat-sidenav-content.mat-drawer-content {
    overflow: hidden;
}