body {
    margin: 0;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    -webkit-font-smoothing: antialiased;
}
  
/* links */
a {
    color: inherit;
    text-decoration: none;
}

.flex-spacer {
    flex-grow: 1;
}

.fade-in {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.image-loaded {
    opacity: 1;
}

.fallback {
    color: #8e8e8e;
    font-size: 1rem;
    line-height: 1.4;
    width: 40%;
    position: relative;
    top: 25%;
    display: block;
    margin: 0 auto;
    font-weight: 400;
}

.fallback.image-loaded {
    opacity: 0.1;
}

app-browse-list,
app-label,
app-artist,
app-search-results,
app-release-detail,
app-shelves-list {
    display: flex;
    flex-direction: column;
    height: 90vh; // to allow for scrolling independent of mat-sidenav-content
    overflow: auto; // scrolling
    padding: 0px 200px 24px 24px;
}

// expand height for 3+ line tile footers
.mat-grid-tile .mat-grid-tile-footer.mat-multi-line, .mat-grid-tile .mat-grid-tile-footer.mat-3-line {
    height: 68px;
}

.tile-link {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.category-header {
    flex: 1;
    display: flex;
    position: fixed;
    z-index: 5;
    right: 0;
    left: 300px;
    padding: 24px 24px 24px 28px;

    h1 {
        margin-bottom: 16px;
    }

    .category-divider {
        width: 100%;
    }
}

// keep the sidenav content from scrolling
// (temporary hack to allow virtual-scroll to work correctly)
mat-sidenav-content.mat-drawer-content {
    overflow: hidden;
}