<div>
  <h3>{{shelf.name}}</h3>
  <div class="container">
    <div *ngFor="let release of shelf.releases | slice:0:5">
      <div class="more-releases">
        <a  routerLink="/browse/releases/{{release.id}}">
          <img class="shelf-preview-img" src="{{imgUrls.get(release.id)}}" (error)="getBackupArt(release.id)" alt="{{release.title}}"> 
        </a>
      </div>
    </div>
    <div *ngIf="shelf.releases.length > 5">
        <div class="more-releases">          
            <div class="album-dialog-ctrl">
               <a routerLink="/browse/shelf/{{shelf.id}}"> +{{shelf.releases.length - 5}} more </a>
            </div>
        </div>
    </div>
  </div>
</div>
