.shelf-preview-img {
    width: 8rem;
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
}

.failed-image-content {
    content: attr(name);
}

.shelf-preview-img, .more-releases {
    // content: attr(name);
    font-size: 16px;
    
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 0;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
}

.shelf-preview-img-margin {
    margin: 8px;
}