form, .image-column, .column, .note-container {
    margin: 10px;
}

.album-image {
    width: 100%;
    max-width: 100%;
}

.row {
    display: flex;
}

.image-column {
    flex: 25%;
}

.column {
    flex: 37.5%;
}

.post-note-text-box {
    width: 100%;
}


.note-author {
    font-size: 0.9rem;
    font-weight: 400;
}

.note-comment {
    font-size: 0.8rem;
    font-weight: 100;
}

.dialog-header {
    height: 10%;
}
