<div class="row dialog-header">
  <img class="notes-album-image" [src]="artURL" onerror="this.hidden='true'">
  <div class="column">
    <h1 mat-dialog-title class="release-title">{{release.title}}</h1>
    <h5 class="release-artist">{{release.KEXPReleaseArtistCredit}}</h5>
    <h5 class="release-genre">{{release.KEXPPrimaryGenre}}</h5>
  </div>
  <div class="column" *ngIf="!authService.isAuthenticated">
    <p>You must be logged in to post a note!</p>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row note-stats-container">
  <div class="num-notes">
    <img src="../../../assets/notes-icon.png" class="num-notes-icon">
    {{numNotes}} Notes
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="num-users" *ngIf="numPosters != 1">
    <img src="../../../assets/orangebars.png" class="num-users-kexp-logo">
    {{numPosters}} Users
  </div>
  <div class="num-users" *ngIf="numPosters == 1">
    <img src="../../../assets/orangebars.png" class="num-users-kexp-logo">
    {{numPosters}} User
  </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div>
    <mat-list>
      <div *ngFor="let note of notes;" class="note-list-item-container">
        <mat-list-item >
          <div class="orange-bar"></div>
          <div class="note-container">  
            <div class="row">
              <div class="note-author note-header-container">{{note.authorName}}</div>
              <div class="note-header-container date">{{note.dateCreated | date}}</div>
            </div>
            <div class="note-comment">  
              {{note.comment}}
            </div>
          </div> 
        </mat-list-item>
        <mat-divider class="note-divider"></mat-divider>
      </div>
    </mat-list>
  </div>
  <form *ngIf="authService.isAuthenticated" (ngSubmit)="postNote(f)" #f="ngForm">
    <mat-form-field class="post-note-text-box">
      <textarea matInput name="note" ngModel placeholder="Add a note"></textarea>
    </mat-form-field>
    <button type="submit" class="mat-raised-button"(click)="postNote()">Post</button>
  </form>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions> -->