.dialog-header {
    height: 10%;
    margin: 10px;
    display: -webkit-box;
}

.row {
    display: flex;
}

.column {
    margin: 10px;
}

.shelf-add-album-image {
    width: 6.5rem;
    max-width: 100%;
}

h5 {
    margin: 0px;
}

.release-title {
    font-size: 2rem;
}

.release-artist {
    font-weight: 200;
    font-size: 1.1rem;
}

.release-genre {
    font-weight: 100;
}

.shelf-preview-img {
    margin: 5px;
}

.add-btn, .shelf-preview {
    margin: 10px;
}

.shelf-ctrl-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        width: 100%;
        padding: 0 16px;
    }

    mat-form-field {
        width: 100%;
    }
}

.dialog-btn {
    margin: 5px;
}

.dialog-artwork-container {
    width: 128px;
    height: 128px;
    background: radial-gradient(#616161, #212121);
}