<div class="dialog-header">
  <img class="shelf-add-album-image fade-in"
  [src]="artURL"
  onload="this.className+=' image-loaded'"
  onerror="this.src='../../assets/bars-white.svg'; this.className+=' fallback image-loaded'">
  <div class="column">
    <h1 mat-dialog-title class="release-title">{{release.title}}</h1>
    <h5 class="release-artist">{{release.KEXPReleaseArtistCredit}}</h5>
    <h5 class="release-genre">{{release.KEXPPrimaryGenre}}</h5>
  </div>
  <div class="column" *ngIf="!authService.isAuthenticated">
      <p>You must be logged in to add to a shelf</p>
  </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
<div *ngIf="authService.isAuthenticated">
  <div class="row">
    <div class = "shelf-ctrl-section">
      <form #pickShelf="ngForm"> 
        <mat-form-field>
          <mat-select placeholder="Pick a shelf" [(ngModel)]="selectedShelf" name="shelfPicker" (selectionChange)="updateShelfPreview(pickShelf)">
            <mat-option *ngFor="let shelf of userShelves"  [value]="shelf">
              {{shelf.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="shelf-ctrl-section">
      <form #addShelf="ngForm">
        <mat-form-field>
          <input matInput name="shelfName" ngModel placeholder="Add new shelf">
          <button mat-button matSuffix mat-icon-button class="mat-raised-button dialog-btn" (click)="newShelf(addShelf)"><mat-icon svgIcon="plus-icon"></mat-icon></button>
        </mat-form-field>
          
      </form>
    </div>    
  </div>
  <mat-divider></mat-divider>
  <div class="shelf-preview">
      <app-shelf-preview *ngIf="currShelf" [shelf]="currShelf"></app-shelf-preview>
  </div>
  <div>
    <button class="mat-raised-button add-btn" (click)="addToShelf(pickShelf)">Add</button>
  </div>
</div>

</mat-dialog-content>