<div class="shelves-browse-nav">
    <div class="shelves-browse-nav-content">
        <nav *ngFor="let category of browseCategories; let last = last;">
            <button cdkAccordionItem #panel="cdkAccordionItem" (click)="panel.toggle()" expanded="false"
                class="shelves-browse-nav-content-btn">
                {{category.name}}
                <mat-icon>{{panel.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
            </button>
            <ul [@bodyExpansion]="panel.expanded ? 'expanded' : 'collapsed'" id="panel-{{category.id}}">
                <li class="shelves-browse-nav-list-item" *ngFor="let group of category.groups">
                    <a [routerLink]="'/browse/' + category.id + '/' + group"
                        routerLinkActive="shelves-browse-sidenav-item-selected">
                        {{ group | uppercase }}
                    </a>
                </li>
            </ul>
            <hr *ngIf="!last" />
        </nav>
    </div>
</div>