<mat-sidenav-container class="shelves-browse-sidenav-container">
    <!-- on small screens, this becomes a collapsing drawer -->
    <mat-sidenav #sidenav class="shelves-browse-sidenav"
        *ngIf="isScreenSmall()"
        [opened]="!isScreenSmall()"
        [mode]="isScreenSmall() ? 'over' : 'side'"
        [fixedInViewport]="isScreenSmall()"
        fixedTopGap="64">
        <app-browse-nav></app-browse-nav>
    </mat-sidenav>
    <div class="shelves-browse-sidenav-content">
        <!-- on large screens, menu shows up to the left of releases -->
        <app-browse-nav
            *ngIf="!isScreenSmall()">
        </app-browse-nav>
        <!-- router outlet where browse components will show up -->
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>