@import '../../../node_modules/@angular/material/theming';

@mixin browse-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .category-divider {
        border-top-color: mat-color($accent);
    }

    .category-header {
        background: mat-color($background, background);
    }

    .mat-grid-tile .mat-grid-tile-footer.tile-footer {
        background: rgba(0, 0, 0, .90);
    }

    .mat-grid-tile:hover {
        -webkit-box-shadow: 0 0 5px rgba(247, 179, 33, 0.87);
        -moz-box-shadow: 0 0 5px rgba(247, 179, 33, 0.87);
        box-shadow: 0 0 5px rgba(247, 179, 33, 0.87);
    }


    .artist-image {

        &:after {
            background: linear-gradient(mat-color($primary), mat-color($primary, darker));
            // background: mat-color($background, card);
            color: mat-color($foreground, text);
        }
    }
}
