<div class="mat-grid-tile tile tile-background">
  <a class="tile-link" routerLink="/library/artists/{{group}}/{{artist.id}}">
    <img class="artist-image fade-in"
    width="100%"
    alt="{{artist.name}}"
    src="{{artSrc}}"
    onload="this.className+=' image-loaded'"
    onerror="this.src='../../assets/bars-white.svg'; this.className+=' fallback image-loaded'"
    >
    <!-- <div class="initials">{{artist.name}}</div> -->
    <div class="mat-grid-tile-footer mat-2-line tile-footer">
      <div class="mat-grid-list-text">
        <h4 class="mat-caption" mat-line>{{artist.name}}</h4>
        <h4 class="mat-caption" mat-line><span *ngIf="artist.disambiguation">({{artist.disambiguation}})</span></h4>
      </div>
    </div>
  </a>
</div>