<div *ngIf="artist">
    <div class="category-header">
        <div class="category-header-title">
            <h1 class="mat-display-2">Albums by {{artist.name}}</h1>
            <mat-divider class="category-divider"></mat-divider>
            </div>
        </div>
    <div class="browse-content">
        <mat-grid-list class="browse-grid-list" cols="3" gutterSize="24px">
            <div class="tile-background" *ngFor="let releaseGroup of artist.releaseGroups; let i = index;">
                <mat-grid-tile class="tile-background">
                <a routerLink="/library/releases/{{releaseGroup.releases[0].id}}">
                    <img class="release-preview"
                    width="100%"
                    alt="{{releaseGroup.title}}"
                    [src]="getArt(releaseGroup)"
                    onerror="this.style.display='none'">
                <mat-grid-tile-footer class="tile-footer">
                    <h4 mat-line>{{releaseGroup.title}}</h4>
                    <h4 mat-line>
                        <span *ngIf="releaseGroup.releases[0].date.length == 4"><span class="kexp-orange">{{releaseGroup.releases[0].date}}</span></span>
                        <span *ngIf="releaseGroup.releases[0].date.length > 4"><span class="kexp-orange">{{releaseGroup.releases[0].date | date:'yyyy'}}</span></span>
                    </h4>
                    <h4 mat-line *ngIf="releaseGroup.releases[0].labelInfo.length > 0">
                        {{releaseGroup.releases[0].labelInfo[0].label.name}}
                    </h4>
                    <h4 mat-line>
                        {{(releaseGroup.releases[0].status == 'Promotion') ? 'Promotional release' : ''}}
                    </h4>
                </mat-grid-tile-footer>
                </a>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
</div>