<div class="shelves-browse-category-header">
        <div class="category-header-title">
          <div>
            <h1 class="mat-display-2">Artists - {{group | titlecase}}</h1>
            <mat-divider class="category-divider"></mat-divider>
          </div>
        </div>
      </div>
      <div class="shelves-browse-content">
        <mat-grid-list class="browse-grid-list" cols="5" gutterSize="16px">
          <virtual-scroll [items]="artists" (update)="viewPortItems = $event">
            <!-- <div *ngFor="let item of viewPortItems">{{item?.name}}</div> -->
            <app-list-item *ngFor="let item of viewPortItems" [artist]="item">
            </app-list-item>
          </virtual-scroll>
      </mat-grid-list>
</div>