app-browse {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0px 50px 50px 20px;
}

app-artist-list {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0px 50px 50px 20px;   
}

app-label-list {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0px 50px 50px 20px;   
}

.shelves-browse-category-header {
    flex: 1;
    display: flex;
    position: fixed;
    z-index: 4;
    width: 100%;
    padding: 10px 0px 20px 0px;

    h1 {
        margin: 16px 0;
    }

    .category-divider {
        width: 100%;
    }
}

img.artist-image:after {
    content: attr(alt);
        
    font-size: 16px;
    
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shelves-browse-content {
    position: relative;
    top: 116px;
}

.tile-container a {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}
