app-browse-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 50px 0px 20px;
}

.browse-content {
    position: relative;
    top: 100px;
}

.tile-container a {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

@media (min-height: 1000px) {
    virtual-scroll {
        height: 900px;
    }
}

@media (max-height: 1000px){
    virtual-scroll {
        height: 720px;
    }
}

@media (max-height: 720px) {
    virtual-scroll {
        height: 600px;
    }
}

virtual-scroll {
    display: flex;
    width: 100%;
}

.scrollable-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    app-list-item {
        height: 250px;
        width: 250px;
        box-sizing: border-box;
        color: white;
        margin-bottom: 24px;

        .list-item-content {
            height: 100%;
            width: 100%;
        }
    }
}

.mat-grid-tile.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}