@import '../../styles/constants';

.browse-content {
    position: relative;
    top: 100px;
}

.tile a {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
}

app-browse-list {
    padding: 0px 20px 0px 20px;
}

.category-header {
    left: 0;
}

app-list-item {
    box-sizing: border-box;
    margin: 8px;
    height: 150px;
    width: 150px;

    .list-item-content {
        height: 100%;
        width: 100%;
    }
}

.scrollable-content {
    display: flex;
    flex-wrap: wrap;
    top: 48px;
    justify-content: center;
}

// @media screen and (min-width: $small_breakpoint_width) {

// }

@media screen and (min-width: $medium_breakpoint_width) {
    app-browse-list {
        padding: 0px 20px 0px 20px;
    }

    .category-header {
        left: 300px;
    }

    app-list-item {
        height: 175px;
        width: 175px;
    }
}

@media screen and (min-width: $large_breakpoint_width) {
    app-browse-list {
        padding: 0px 20px 0px 20px;
    }

    .category-header {
        left: 300px;
    }

    app-list-item {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: $xlarge_breakpoint_width) {
    app-browse-list {
        padding: 0px 20px 0px 20px;
    }

    app-list-item {
        height: 300px;
        width: 300px;
    }
}

@media screen and (min-width: $xxl_breakpoint_width) {
    app-browse-list {
        padding: 0px 300px 0px 20px;
    }
}

virtual-scroll {
    width: 100%;
    height: 100vh;
}

// TODO: target this without relying on encapsulation selector
// which is likely to change
.browse-grid-list .scrollable-content[_ngcontent-c14] {
    top: 48px;
}

.mat-grid-tile.tile {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;

    .initials {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}
