<div class="mat-grid-tile tile tile-background">
  <a routerLink="/library/labels/{{group}}/{{label.id}}">
    <img class="label-image fade-in"
    width="100%"
    alt="{{label.name}}"
    src="{{artSrc}}"
    onload="this.className+=' image-loaded'"
    onerror="this.src='../../assets/bars-white.svg'; this.className='label-image fallback'">
    <div class="mat-grid-tile-footer mat-2-line tile-footer">
      <div class="mat-grid-list-text">
        <h4 class="mat-caption" mat-line>{{label.name}}</h4>
        <h4 class="mat-caption" mat-line><span *ngIf="label.disambiguation">({{label.disambiguation}})</span></h4>
      </div>
    </div>
  </a>
</div>