<div class="mat-grid-tile tile tile-background">
  <a routerLink="/library/releases/{{release.id}}">
    <img class="release-image"
    width="100%"
    alt="{{release.title}}"
    [src]="artSrc"
    onerror="this.hidden='true'"
    >
    <div class="mat-grid-tile-footer mat-2-line tile-footer">
      <div class="mat-grid-list-text">
        <h4 class="mat-caption" mat-line>{{release.title}}</h4>
        <h4 class="mat-caption" mat-line>{{release.KEXPReleaseArtistCredit}}</h4>
      </div>
    </div>
  </a>
</div>