@import '../node_modules/@angular/material/theming';

@import './app/navbar/navbar-theme';
@import './app/browse-sidenav/browse-sidenav-theme';
@import './app/browse/browse-theme';
@import './app/auth/signin/signin-theme';
@import './app/auth/signup/signup-theme';
@import './app/search-results/search-results-theme';
@import './app/release/release-detail/release-detail-theme';
@import './app/shelves/shelf-preview/shelf-preview-theme';
@import './app/shelves/shelves-theme';
@import './app/shelves/shelf-detail/shelf-detail-theme';

@mixin shelves-app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .app-background {
        background: mat-color($background, background);
    }

    /* custom color helper class */
    .kexp-orange {
        color: mat-color($accent, 500)
    }

    .custom-snackbar {
        background-color: mat-color($accent);
        width: 100vw;
        text-align: center;
    }

    .warn-snackbar {
        background: mat-color($warn);
    }

    // individual component theming setup
    @include nav-bar-theme($theme);
    @include browse-sidenav-theme($theme);
    @include browse-theme($theme);
    @include signin-theme($theme);
    @include signup-theme($theme);
    @include search-results-theme($theme);
    @include release-detail-theme($theme);
    @include shelves-theme($theme);
    @include shelf-preview-theme($theme);
    @include shelf-detail-theme($theme);
}
