/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
}

h2 {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 2.5em;
}

section, header {
  margin: 40px 50px;
  padding: 0px 250px;
}

a {
  color: inherit;
  text-decoration: none;
}

.mat-list-item-content {
  justify-content: space-between;
}
