<div *ngIf=shelf class="shelf-detail-component">
  <div class="category-header">
    <div class="category-header-title">
      <h1 class="mat-display-2">{{shelf.name}}</h1>
      <mat-divider class="category-divider"></mat-divider>
    </div>
    <mat-chip-list selectable="false" class="tag-chip">
        <mat-chip disabled>Shelf</mat-chip>
        <mat-chip *ngIf="shelf.featured" disabled>
          Featured
        </mat-chip>
    </mat-chip-list>
    <div class="flex-spacer"></div>
    <div class="feature-shelf-button" *ngIf="(authService.isAuthenticated && !shelf.featured)">
        <button (click)="setFeaturedShelf()"
                mat-raised-button
                color="accent"
                class="feature-shelf-button">
                Make this a featured shelf
        </button>
    </div>
  </div>

  <div class="browse-content">
    <div *ngIf="shelf.releases.length === 0" class="empty-shelf">
      <h2 class="mat-headline">This shelf is currently empty</h2>
      <h3 class="mat-title kexp-orange">Search the library for albums to add to this shelf</h3>
    </div>
  <mat-grid-list cols="3" gutterSize="24px">
      <div *ngFor="let release of shelf.releases" class="tile-container">
        <mat-grid-tile class="browse-grid-list tile-background">
          <a class="tile-link" routerLink="/library/releases/{{release.id}}">
            <img class="artist-image fade-in"
              width="100%"
              alt="{{release.title}}"
              [src]="getArt(release)"
              onload="this.className+=' image-loaded'"
              onerror="this.src='../../assets/bars-white.svg'; this.className+=' fallback image-loaded'">
            <mat-grid-tile-footer class="tile-footer">
              <h4 mat-line>{{release.title}}</h4>
              <h4 mat-line>{{release.KEXPReleaseArtistCredit}}</h4>
            </mat-grid-tile-footer>
          </a>
        </mat-grid-tile>
      </div>
  </mat-grid-list>
  </div>
</div>