.shelf-detail-component {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0px 50px 50px 20px;  
}

.browse-content {
    position: relative;
    top: 116px;
}

img.artist-image:after {
    content: attr(alt);
        
    font-size: 16px;
    
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
