.shelf-detail-component {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0px 50px 50px 20px;  
}

.browse-content {
    position: relative;
    top: 116px;
}

.tag-chip {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 16px;
}