.shelf-detail-component {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0px 50px 50px 20px;  
}

.browse-content {
    position: relative;
    top: 116px;
}

.empty-shelf {
    text-align: center;
    margin: 100px 0px 0px 0px;
}
