@import '../../../styles/constants';

h1 {
  color: white;
}

.category-divider {
  width: 25%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .container {
    height: 50%;
    width: 100%;
    display: flex;
    position: fixed; 
    align-items: center;
    justify-content: center;
  }