<div class="container">
    <mat-card class="auth-card">
      <mat-card-content>
        <h1>Login</h1>
        <mat-divider [inset]="true" class="category-divider"></mat-divider>
        <form (ngSubmit)="login(f)" #f="ngForm" >
          <mat-form-field class="form-input">
            <input matInput placeholder="Email" ngModel name="email">
          </mat-form-field>
          <mat-form-field class="form-input">
            <input matInput placeholder="Password" type="password" ngModel name = "password">
          </mat-form-field>
          <button type="submit" mat-button class="mat-raised-button">Login</button>
        </form>
      </mat-card-content>
    </mat-card>

  </div>