@import '../../../styles/constants';

app-release-detail {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 50px 20px;
}

.release-detail-container {
    padding: 40px 20px 0px 20px;
}

.tracklist-container {
    padding-top: 24px;
}

.release-overview {
    display: flex;
    flex-wrap: wrap;
}

.release-title {
    margin-bottom: 24px;
}

.release-album-cover {
    position: relative;
    width: 150px;
    height: 150px;
}

.album-dialog-ctrl {
    position: absolute;
    display: flex;
    top: 85%;
    left: 0;
    width: 100%;
    height: 15%;
    background: rgba(0, 0, 0, 0.9);
}

.release-info {
    flex: 1;
    margin-left: 24px;
}

.album-image {
    width: 100%;
    height: 100%;
}

.track-title span {
    margin-right: 24px;
}

// push track lengths to right
.track-spacer {
    flex: 1;
}

.flex-spacer {
    flex-grow: 1;
}

@media screen and (min-width: $small_breakpoint_width) {
    .release-album-cover {
        position: relative;
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: $medium_breakpoint_width) {
}

@media screen and (min-width: $large_breakpoint_width) {
}

@media screen and (min-width: $xlarge_breakpoint_width) {
    .release-album-cover {
        position: relative;
        width: 500px;
        height: 500px;
    }
}

@media screen and (min-width: $xxl_breakpoint_width) {

}