@import '../../../styles/constants';

app-release-detail {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 50px 20px;
}

.shelves-release-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.shelves-release-overview {
    display: flex;
}

.shelves-release-album-cover {
    position: relative;
}

.album-dialog-ctrl {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: black;
}

.shelves-release-info {
    flex: 1;
    margin-left: 24px;
}

.album-image {
    width: 100%
}

.track-title span {
    margin-right: 24px;
}

// push track lengths to right
.track-spacer {
    flex: 1;
}
