<div class="shelves-release-detail-container">
    <div class="shelves-release-overview" *ngIf="release">
        <div class="shelves-release-album-cover">
            <img class="album-image" [src]="getArtForRelease()">    
            <div class="album-dialog-ctrl">
                <button mat-button (click)="openNotesDialog()">Show Notes</button>
                <button mat-button (click)="openShelfAddDialog()">Add to Shelf</button>
            </div>        
        </div>
        <div class="shelves-release-info">
            <div class="release-title">
                <h1>{{release.title}}</h1>
                <h3 mat-line>by
                    <a routerLink="/browse/artists/{{release.KEXPReleaseArtistCredit.charAt(0) | lowercase}}/{{release.artistCredit[0].artist.id}}"><span class="kexp-orange">{{release.KEXPReleaseArtistCredit}}</span></a>
                </h3>
                <h3 mat-line>
                    <span *ngIf="release.date">released <span class="kexp-orange">{{release.date | date}}</span></span>
                </h3>
            </div>
            <h3>Related releases</h3>
            <mat-divider></mat-divider>
            <app-related-releases *ngIf="release" [release]="release"></app-related-releases>
        </div>
    </div>
    <section *ngIf="release" class="tracklist-container">
        <h3>Tracklist</h3>
        <div class="tracklist">
            <mat-list class="tracklist">
                <!-- handles multiple discs/sides -->
                <div class="track-group" *ngFor="let disc of release.media; let i = index">
                    <h3 *ngIf="release.media.length > 1" matSubheader>{{release.media[i].title}} - {{release.media[i].format}}</h3>
                    <mat-list-item *ngFor="let track of release.media[i].tracks; last as last">
                        <div class="track-title"><span>{{track.number}}</span> {{track.title}}</div>
                        <div class="track-spacer"></div>
                        <div class="track-length">{{track.length | date:'mm:ss'}}</div>
                        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                    </mat-list-item>
                </div>
            </mat-list>
        </div>
    </section>
</div>
